USE [datadb]
GO
/****** Object:  UserDefinedFunction [dbo].[OtherCost]    Script Date: 16.09.2026 15:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[OtherCost] (@ComplexProperty nvarchar(max))
RETURNS TABLE
AS
RETURN
	SELECT ProjectCostingDataPeriods.[Year], ProjectCostingDataPeriods.[Quarter], SUM(ProjectCostingDataPeriods.Amount) AS Amount
	FROM params.ProjectCostingDatas
	LEFT JOIN params.ReportFields ON ReportFields.Field = ProjectCostingDatas.Field
	LEFT JOIN params.ProjectCostingDataPeriods ON ProjectCostingDataPeriods.ProjectCostingDataId = ProjectCostingDatas.Id
	WHERE ProjectCostingDatas.ComplexProperty = @ComplexProperty AND ReportSheet = 'OtherCost'
	GROUP BY ProjectCostingDataPeriods.[Year], ProjectCostingDataPeriods.[Quarter]