USE [datadb]
GO
/****** Object:  UserDefinedFunction [dbo].[TotalSales]    Script Date: 16.09.2026 15:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[TotalSales] (@ComplexProperty nvarchar(max))
RETURNS TABLE
AS
RETURN
	SELECT ProjectCostingDataPeriods.[Year], ProjectCostingDataPeriods.[Quarter], SUM(ProjectCostingDataPeriods.Amount) AS Amount
	FROM [datadb].[params].[ProjectCostingDatas]
	LEFT JOIN params.ProjectCostingDataPeriods ON ProjectCostingDataPeriods.ProjectCostingDataId = ProjectCostingDatas.Id
	WHERE ProjectCostingDatas.Field LIKE '%ConstructionCategory%' AND ProjectCostingDatas.ComplexProperty = @ComplexProperty
	GROUP BY ProjectCostingDataPeriods.[Year], ProjectCostingDataPeriods.[Quarter]