USE [datadb]
GO
/****** Object:  UserDefinedFunction [dbo].[TotalCost]    Script Date: 16.09.2026 15:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[TotalCost] (@ComplexProperty nvarchar(max))
RETURNS TABLE
AS
RETURN
	SELECT ConstructionCost.[Year], ConstructionCost.[Quarter], 
		ConstructionCost.Amount + OtherCost.Amount AS Amount FROM ConstructionCost(@ComplexProperty)
	LEFT JOIN OtherCost(@ComplexProperty) ON ConstructionCost.[Year] = OtherCost.[Year] AND ConstructionCost.[Quarter] = OtherCost.[Quarter]
