USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[AreaOfActivity]    Script Date: 02.10.2026 14:32:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AreaOfActivity] 
AS
BEGIN
	SET NOCOUNT ON;

	WITH ALLAccountingTransactions AS (SELECT Date, Debit, Credit, ContractId FROM AccountingTransactions),
	ALLDebtAdjustments AS (SELECT Date, Debit, Credit, ContractId FROM DebtAdjustments),
	AllPayments AS (SELECT Date, Debit, Credit, ContractId FROM Payments),
	AllInvoices AS (SELECT Date, Debit, Credit, ContractId FROM Invoices),

	IncomeAndExpenses AS (SELECT * FROM ALLAccountingTransactions 
		UNION ALL SELECT * FROM ALLDebtAdjustments
		UNION ALL SELECT * FROM AllInvoices
		UNION ALL SELECT * FROM AllPayments),
	ContractsWithPaymentAndPerformance AS (SELECT ObjectOfSaleInContracts.Property, ObjectOfSaleInContracts.AreaOfActivity, ObjectOfSaleInContracts.Amount AS ContractAmount,
			SUM(Debit) AS Debit, SUM(Credit) AS Credit, IncomeAndExpenses.ContractId
		FROM IncomeAndExpenses
		LEFT JOIN ObjectOfSaleInContracts ON IncomeAndExpenses.ContractId = ObjectOfSaleInContracts.ContractId
		GROUP BY ObjectOfSaleInContracts.Property, ObjectOfSaleInContracts.AreaOfActivity, ObjectOfSaleInContracts.Amount,
			IncomeAndExpenses.ContractId)

	SELECT Number, Date, ContractAmount, Credit, Debit, Property, AreaOfActivity
	FROM ContractsWithPaymentAndPerformance
	LEFT JOIN Contracts ON ContractsWithPaymentAndPerformance.ContractId = Contracts.ContractId
	WHERE AreaOfActivity IS NOT NULL
	ORDER BY Date
END
