USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[BuildingCosts]    Script Date: 16.09.2026 15:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BuildingCosts] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM params.ProjectCostingDatas
	WHERE ProjectCostingDatas.Field LIKE '%ConstructionProperty%' AND ProjectCostingDatas.ComplexProperty = @ComplexProperty;

	SELECT * FROM params.ProjectCostingDataPeriods

END
