USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[CashFlowFromRentalOperations]    Script Date: 29.09.2026 11:04:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CashFlowFromRentalOperations] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Debit, Credit, Payments.Date, PaymentPurpose, TypeOperation,
            CashFlowItems.Name AS CashFlowItems, Contracts.Name AS Contract, Contractors.Name AS Contractor
    FROM Payments
    LEFT JOIN CashFlowItems ON Payments.CashFlowItemId = CashFlowItems.CashFlowItemId
    LEFT JOIN Contracts ON Payments.ContractId = Contracts.ContractId
    LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
END
