USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[CashBalance]    Script Date: 29.09.2026 11:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CashBalance] 
    @StartDate datetime
AS
BEGIN
	SET NOCOUNT ON;

	WITH BalanceOfSettlements AS (SELECT SUM(Credit - Debit) AS Balance
		FROM Payments
		WHERE CAST(Date AS DATE) < @StartDate),
	SelectedCompany AS (SELECT Company, Amount FROM CashBalances
		WHERE IsSelected = 1)

	SELECT Company, Balance - Amount AS Amount
		FROM BalanceOfSettlements, SelectedCompany

END
