USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ConstructionCostByPeriod]    Script Date: 04.09.2026 10:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ConstructionCostByPeriod] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

    SELECT [Year], [Quarter], ConstructionCostByProperties.Property, ConstructionCostByProperties.SquareMeters, 
		ConstructionCostByProperties.SquareMeters * ConstructionCostByProperties.PlannedCostPerSqm AS PlannedCost, ConstructionCostByProperties.IncurredCosts,
		ConstructionCostByProperties.SquareMeters * ConstructionCostByProperties.PlannedCostPerSqm - ConstructionCostByProperties.IncurredCosts AS Remaining,
		IIF(ConstructionCostByPeriods.ConstructionCost <> 0, ConstructionCostByPeriods.ConstructionCost, 
		(ConstructionCostByProperties.PlannedCostPerSqm * ConstructionCostByProperties.SquareMeters - ConstructionCostByProperties.IncurredCosts) * ConstructionCostByPeriods.PercentageOfCosts) AS ConstructionCost,
		ConstructionCostByPeriods.CommissioningOfResidentialProperty
	FROM params.ConstructionCostByProperties
	LEFT JOIN params.ConstructionCostByPeriods ON params.ConstructionCostByProperties.ComplexProperty = params.ConstructionCostByPeriods.ComplexProperty
		AND params.ConstructionCostByProperties.Property = params.ConstructionCostByPeriods.Property
	WHERE ConstructionCostByProperties.ComplexProperty = @ComplexProperty
END
