USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ConstructionCostForecast]    Script Date: 04.09.2026 10:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ConstructionCostForecast] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	WITH OtherCostAmount AS (SELECT Name, MIN(IncurredCosts) AS IncurredCosts, SUM(Amount) AS OtherCost 
		FROM OtherCost(@ComplexProperty)
		GROUP BY Name),
	OtherCostField AS (SELECT OtherCostAmount.Name, IIF(IncurredCosts IS NULL, 0, IncurredCosts) + IIF(OtherCost IS NULL, 0, OtherCost) AS OtherCost,
			ReportFields.ConstructionCostForecast
		FROM OtherCostAmount
		LEFT JOIN params.ReportFields ON OtherCostAmount.Name = ReportFields.Name AND ReportFields.ReportSheet = 'OtherCost'),
	ConstructionCost AS (SELECT SUM (SquareMeters * PlannedCostPerSqm) AS Amount, 'ConstructionCost' AS Field
		FROM params.ConstructionCostByProperties
		WHERE ConstructionCostByProperties.ComplexProperty = @ComplexProperty
		GROUP BY ComplexProperty),
	SalesTarget AS (SELECT SUM(SalesValueByPeriods.SalesTargetInSqm * SalesValueByPeriods.PricePerSqm) AS Amount, 'SalesTarget' AS Field
		FROM params.SalesValueByPeriods
		WHERE SalesValueByPeriods.ComplexProperty = @ComplexProperty
		GROUP BY SalesValueByPeriods.ComplexProperty),
	SalesSold AS (SELECT SUM(SalesValueByCategories.Sold * SalesValueByCategories.PricePerSqm) AS Amount, 'SalesTarget' AS Field
		FROM params.SalesValueByCategories
		WHERE SalesValueByCategories.ComplexProperty = @ComplexProperty
		GROUP BY SalesValueByCategories.ComplexProperty),
	ConstructionCostForecast AS (SELECT ReportFields.Name, LineNumber, ReportFields.Field,
			IIF(OtherCostField.OtherCost IS NULL, 0, OtherCostField.OtherCost) AS OtherCost, 
			IIF(ConstructionCost.Amount IS NULL, 0, ConstructionCost.Amount) AS ConstructionCost, 
			IIF(SalesTarget.Amount IS NULL, 0, SalesTarget.Amount) AS SalesTarget,
			IIF(SalesSold.Amount IS NULL, 0, SalesSold.Amount) AS SalesSold
		FROM params.ReportFields
		LEFT JOIN OtherCostField ON ReportFields.Field = OtherCostField.ConstructionCostForecast
		LEFT JOIN ConstructionCost ON ReportFields.Field = ConstructionCost.Field
		LEFT JOIN SalesTarget ON ReportFields.Field = SalesTarget.Field
		LEFT JOIN SalesSold ON ReportFields.Field = SalesSold.Field
		WHERE ReportSheet = 'ConstructionCostForecast')

	SELECT Name, LineNumber, Field, SUM(OtherCost) + SUM(ConstructionCost) + SUM(SalesTarget + SalesSold) AS Amount
	FROM ConstructionCostForecast
	GROUP BY Field, Name, LineNumber
	ORDER BY LineNumber

END
