USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ConstructionCostSupplier]    Script Date: 29.09.2026 11:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ConstructionCostSupplier] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH Payment AS (SELECT SUM(Payments.Debit) AS PaymentAmount, SUM(IIF (PD.Amount IS NULL, Payments.Debit, PD.Amount)) AS PDAmount,
            SUM(PD.AmountVAT) AS AmountVAT, Payments.ContractId, ObjectOfSaleInPurchasePayments.Property,
            ObjectOfSaleInPurchasePayments.CostItem, ObjectOfSaleInPurchasePayments.ComplexProperty
        FROM Payments
        LEFT JOIN (SELECT *, ROW_NUMBER() OVER (PARTITION BY DocumentId ORDER BY Amount DESC) AS rn FROM PaymentsDetails) AS PD
            ON Payments.Id = PD.DocumentId AND rn = 1
        LEFT JOIN ObjectOfSaleInPurchasePayments ON Payments.Id = ObjectOfSaleInPurchasePayments.DocumentId
        GROUP BY Payments.ContractId, ObjectOfSaleInPurchasePayments.Property, ObjectOfSaleInPurchasePayments.CostItem,
            ObjectOfSaleInPurchasePayments.ComplexProperty),
    Supplier AS (SELECT Contractors.Name AS Contractor, Contracts.Name, Date, Contracts.ContractId, Payment.PaymentAmount, Payment.Property, Payment.CostItem, Payment.ComplexProperty,
            Payment.AmountVAT/(Payment.PDAmount - Payment.AmountVAT) AS VATRate, N'Поставщик' AS ContractorOrSupplier
        FROM Contracts
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        LEFT JOIN ObjectOfSaleInContracts ON Contracts.ContractId = ObjectOfSaleInContracts.ContractId
        LEFT JOIN Payment ON Contracts.ContractId = Payment.ContractId
        WHERE ObjectOfSaleInContracts.Amount IS NULL)
                                 
    SELECT * FROM Supplier WHERE ComplexProperty LIKE N'%СМОРОДИНА%' OR ComplexProperty LIKE N'%КИПАРИС%' OR ComplexProperty LIKE N'%ИЗВЕСТИЯ%'
END
