USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ConstructionCostContractor]    Script Date: 29.09.2026 11:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ConstructionCostContractor] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH Payment AS (SELECT SUM(Payments.Debit) AS PaymentAmount, SUM(IIF (PD.Amount IS NULL, Payments.Debit, PD.Amount)) AS PDAmount,
            SUM(PD.AmountVAT) AS AmountVAT, Payments.ContractId
        FROM Payments
        LEFT JOIN (SELECT *, ROW_NUMBER() OVER (PARTITION BY DocumentId ORDER BY Amount DESC) AS rn FROM PaymentsDetails) AS PD
            ON Payments.Id = PD.DocumentId AND rn = 1
        LEFT JOIN ObjectOfSaleInPurchasePayments ON Payments.Id = ObjectOfSaleInPurchasePayments.DocumentId
        GROUP BY Payments.ContractId),
    Invoice AS (SELECT SUM(Credit) AS InvoiceAmount, ContractId
        FROM Invoices
        GROUP BY ContractId)
                                   
    SELECT Contractors.Name AS Contractor, Contracts.Name, Date, ObjectOfSaleInContracts.Amount AS ContractAmount,
            IIF(ConstructionCompletionCertificates.EndDate IS NOT NULL, 1, 0) AS Closed,
            Payment.PaymentAmount, Invoice.InvoiceAmount, ObjectOfSaleInContracts.GeneralContractorMarkup,
            ObjectOfSaleInContracts.Property, ObjectOfSaleInContracts.CostItem, Contracts.ContractId,
            Payment.AmountVAT/(Payment.PDAmount - Payment.AmountVAT) AS VATRate, N'Подрядчик' AS ContractorOrSupplier
        FROM Contracts
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        INNER JOIN ObjectOfSaleInContracts ON Contracts.ContractId = ObjectOfSaleInContracts.ContractId
        LEFT JOIN Payment ON Contracts.ContractId = Payment.ContractId
        LEFT JOIN Invoice ON Contracts.ContractId = Invoice.ContractId
        LEFT JOIN ConstructionCompletionCertificates ON Contracts.ContractId = ConstructionCompletionCertificates.ContractId
        WHERE ObjectOfSaleInContracts.ComplexProperty IS NOT NULL
END
