USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[CostPerSquareMeter]    Script Date: 29.09.2026 11:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[CostPerSquareMeter] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH CostPerSquareMeter AS (SELECT SUM(Debit) AS Amount, Property
        FROM Payments
        INNER JOIN ObjectOfSaleInPurchasePayments ON Payments.Id = ObjectOfSaleInPurchasePayments.DocumentId
        GROUP BY Property)

    SELECT Amount, CostPerSquareMeter.Property, TotalArea
    FROM CostPerSquareMeter
    LEFT JOIN TotalFloorAreas ON CostPerSquareMeter.Property = TotalFloorAreas.Property

END
