USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[InterestCost]    Script Date: 16.09.2026 15:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[InterestCost] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT ProjectCostingDatas.* FROM params.ProjectCostingDatas
	LEFT JOIN params.ReportFields ON ProjectCostingDatas.Field = ReportFields.Field
	WHERE ProjectCostingDatas.ComplexProperty = @ComplexProperty AND ReportFields.ReportSheet = 'AmountOfInterest'
	ORDER BY LineNumber;

	SELECT ProjectCostingDataPeriods.*, TotalCost.Amount AS TotalCost, TotalSales.Amount AS TotalSales  FROM params.ProjectCostingDataPeriods
	LEFT JOIN TotalCost(@ComplexProperty) ON ProjectCostingDataPeriods.[Year] = TotalCost.[Year] AND ProjectCostingDataPeriods.[Quarter] = TotalCost.[Quarter]
	LEFT JOIN TotalSales(@ComplexProperty) ON ProjectCostingDataPeriods.[Year] = TotalSales.[Year] AND ProjectCostingDataPeriods.[Quarter] = TotalSales.[Quarter]

END
