USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[NonProductionCosts]    Script Date: 29.09.2026 11:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[NonProductionCosts] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH NonProductionCosts AS (SELECT SUM(Payments.Debit) AS Amount,
            YEAR(Payments.Date) AS [Year], MONTH(Payments.Date) AS [Month]
        FROM Payments
        LEFT JOIN ObjectOfSaleInPurchasePayments ON Payments.Id = ObjectOfSaleInPurchasePayments.DocumentId
        WHERE ObjectOfSaleInPurchasePayments.Property IS NULL AND Payments.TypeOperation != N'Депозит'
            AND Payments.TypeOperation != N'ПереводНаДругойСчет' AND Payments.CashFlowItemId != '71512e7f-065a-11f1-8ad0-345a60ea423c'
        GROUP BY YEAR(Payments.Date), MONTH(Payments.Date)),
    ProductionCosts AS (SELECT SUM(Payments.Debit) AS Amount, YEAR(Payments.Date) AS [Year],
        MONTH(Payments.Date) AS [Month]
        FROM Payments
        LEFT JOIN ObjectOfSaleInPurchasePayments ON Payments.Id = ObjectOfSaleInPurchasePayments.DocumentId
        WHERE ObjectOfSaleInPurchasePayments.Property IS NOT NULL AND Payments.CashFlowItemId != '71512e7f-065a-11f1-8ad0-345a60ea423c'
        GROUP BY YEAR(Payments.Date), MONTH(Payments.Date))
                         
    SELECT NonProductionCosts.Amount AS NonProductionAmount, ProductionCosts.Amount AS ProductionAmount,
            NonProductionCosts.[Year], NonProductionCosts.[Month]
        FROM NonProductionCosts
        INNER JOIN ProductionCosts ON NonProductionCosts.[Year] = ProductionCosts.[Year]
            AND NonProductionCosts.[Month] = ProductionCosts.[Month]
        ORDER BY NonProductionCosts.[Year], NonProductionCosts.[Month]
END
