USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[OpeningBalance]    Script Date: 16.09.2026 15:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[OpeningBalance] 
    @StartDate datetime
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @Debit decimal(18,2)
    DECLARE @Credit decimal(18,2)

    SET @Debit = (SELECT SUM(AccountingEntries.Amount)
        FROM AccountingEntries
        LEFT JOIN PlanOfAccounts ON AccountingEntries.AccountDebitId = PlanOfAccounts.AccountId
        WHERE PlanOfAccounts.Code = '51' AND CAST(AccountingEntries.Date AS DATE) < @StartDate)

    SET @Credit = (SELECT SUM(AccountingEntries.Amount)
        FROM AccountingEntries
        LEFT JOIN PlanOfAccounts ON AccountingEntries.AccountCreditId = PlanOfAccounts.AccountId
        WHERE PlanOfAccounts.Code = '51' AND CAST(AccountingEntries.Date AS DATE) < @StartDate)

    SELECT @Debit - @Credit
END
