USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[OtherCost]    Script Date: 28.08.2026 7:12:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[OtherCost] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	WITH ResidentialPropertyAll AS (SELECT SalesValueByCategories.ComplexProperty, [Year], [Quarter],
			SUM(SalesValueByPeriods.SalesTargetInSqm * SalesValueByCategories.PricePerSqm) AS SalesTargetInRub
		FROM params.SalesValueByCategories
		LEFT JOIN params.SalesValueByPeriods ON params.SalesValueByCategories.ComplexProperty = params.SalesValueByPeriods.ComplexProperty
			AND params.SalesValueByCategories.Category = params.SalesValueByPeriods.Category
		WHERE SalesValueByCategories.ComplexProperty = @ComplexProperty
		GROUP BY SalesValueByCategories.ComplexProperty, [Year], [Quarter]),
	ResidentialProperty AS (SELECT SalesValueByCategories.ComplexProperty, SalesValueByCategories.ResidentialProperty, [Year], [Quarter],
			SUM(SalesValueByPeriods.SalesTargetInSqm * SalesValueByCategories.PricePerSqm) AS SalesTargetInRub
		FROM params.SalesValueByCategories
		LEFT JOIN params.SalesValueByPeriods ON params.SalesValueByCategories.ComplexProperty = params.SalesValueByPeriods.ComplexProperty
			AND params.SalesValueByCategories.Category = params.SalesValueByPeriods.Category
		WHERE SalesValueByCategories.ComplexProperty = @ComplexProperty AND ResidentialProperty = 1
		GROUP BY SalesValueByCategories.ComplexProperty, ResidentialProperty, [Year], [Quarter]),
	SalesTarget AS (SELECT ResidentialPropertyAll.ComplexProperty, ResidentialPropertyAll.[Year], ResidentialPropertyAll.[Quarter], 
			ResidentialPropertyAll.SalesTargetInRub AS AmountResidentialPropertyAll,
			ResidentialProperty.SalesTargetInRub AS AmountResidentialProperty
		FROM ResidentialPropertyAll
		LEFT JOIN ResidentialProperty ON ResidentialPropertyAll.[Year] = ResidentialProperty.[Year] AND ResidentialPropertyAll.[Quarter] = ResidentialProperty.[Quarter]),
	OtherPercentageCostByPeriods AS (SELECT OtherPercentageCosts.ComplexProperty, Name, SalesTarget.[Year], SalesTarget.[Quarter],
			IIF(ResidentialProperty = 1, AmountResidentialProperty * PercentageOfCosts, AmountResidentialPropertyALL * PercentageOfCosts) AS Amount
		FROM params.OtherPercentageCosts
		LEFT JOIN SalesTarget ON OtherPercentageCosts.ComplexProperty = SalesTarget.ComplexProperty),
	OtherCostByPeriods AS (SELECT ComplexProperty, Name, [Year], [Quarter], Amount
		FROM params.OtherFixedCostByPeriods
		UNION ALL 
		SELECT ComplexProperty, Name, [Year], [Quarter], Amount
		FROM OtherPercentageCostByPeriods)

	SELECT ReportFields.Name, OtherFixedCosts.IncurredCosts,
		OtherCostByPeriods.[Year], OtherCostByPeriods.[Quarter], OtherCostByPeriods.Amount,
		ReportFields.LineNumber
	FROM params.ReportFields
	LEFT JOIN params.OtherFixedCosts ON ReportFields.Name = OtherFixedCosts.Name AND OtherFixedCosts.ComplexProperty = @ComplexProperty
	LEFT JOIN OtherCostByPeriods ON ReportFields.Name = OtherCostByPeriods.Name
	WHERE ReportFields.ReportSheet = 'OtherCost'
	ORDER BY LineNumber, Name, OtherCostByPeriods.[Year], OtherCostByPeriods.[Quarter]
END
