USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[OtherExpenses]    Script Date: 16.09.2026 15:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[OtherExpenses] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM params.ProjectCostingDatas
	LEFT JOIN params.ReportFields ON ReportFields.Field = ProjectCostingDatas.Field
	WHERE ProjectCostingDatas.ComplexProperty = @ComplexProperty AND ReportSheet = 'OtherCost'
	ORDER BY ReportFields.LineNumber;

	SELECT * FROM params.ProjectCostingDataPeriods

END