USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ProcurementPrice]    Script Date: 29.09.2026 11:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ProcurementPrice] 
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Invoices.Date, Invoices.Credit AS DocumentAmount,
        PurchaseGoodsAndServices.Quantity, Units.Name AS Unit, ProductsAndServices.Name AS ProductAndService,
        PurchaseGoodsAndServices.Price, PurchaseGoodsAndServices.Amount,
        Contractors.Name AS Contractor, Warehouses.Name AS Warehouse
    FROM Invoices
    LEFT JOIN PurchaseGoodsAndServices ON Invoices.Id = PurchaseGoodsAndServices.DocumentId
    LEFT JOIN Contracts ON Invoices.ContractId = Contracts.ContractId
    LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
    LEFT JOIN Warehouses ON Invoices.WarehouseId = Warehouses.WarehouseId
    LEFT JOIN Units ON PurchaseGoodsAndServices.UnitId = Units.UnitId
    LEFT JOIN ProductsAndServices ON PurchaseGoodsAndServices.ProductAndServiceId = ProductsAndServices.ProductAndServiceId
    ORDER BY Invoices.Date
END
