USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ProfitCenters]    Script Date: 29.09.2026 11:06:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ProfitCenters] 
    @StartDate datetime,
    @EndDate datetime
AS
BEGIN
	SET NOCOUNT ON;

    SELECT Payments.Date, TypeOfActivity, AreaOfActivity, TypeOperation, 
        IIF([Percent] > 0 AND [Percent] < 1, Debit * [Percent], Debit) AS Debit, 
        IIF([Percent] > 0 AND [Percent] < 1, Credit * [Percent], Credit) AS Credit, 
        [Percent], DirectOrIndirect, PaymentPurpose, Contracts.Number, Contractors.Name AS Contractor 
        FROM Payments
        LEFT JOIN AreaOfActivityPayments ON Payments.Id = AreaOfActivityPayments.DocumentId
        LEFT JOIN Contracts ON Payments.ContractId = Contracts.ContractId 
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        WHERE CAST(Payments.Date AS DATE) >= @StartDate AND CAST(Payments.Date AS DATE) <= @EndDate
        ORDER BY Payments.Date
END
