USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[ReconciliationStatement]    Script Date: 29.09.2026 11:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ReconciliationStatement] 
    @EndDate datetime
AS
BEGIN
	SET NOCOUNT ON;

	WITH ALLAccountingTransactions AS (SELECT Date, Debit, Credit, ContractId FROM AccountingTransactions),
	ALLDebtAdjustments AS (SELECT Date, Debit, Credit, ContractId FROM DebtAdjustments),
	AllPayments AS (SELECT Date, Debit, Credit, ContractId FROM Payments),
	AllInvoices AS (SELECT Date, Debit, Credit, ContractId FROM Invoices),

	IncomeAndExpenses AS (SELECT * FROM ALLAccountingTransactions 
		UNION ALL SELECT * FROM ALLDebtAdjustments
		UNION ALL SELECT * FROM AllInvoices
		UNION ALL SELECT * FROM AllPayments)

	SELECT Contractors.Name AS Contractor, Contracts.Name AS Contract, SUM(Debit) AS Debit, SUM(Credit) AS Credit, SUM(Debit) - SUM(Credit) AS [Difference] 
	FROM IncomeAndExpenses
	INNER JOIN Contracts ON IncomeAndExpenses.ContractId = Contracts.ContractId
	LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
	WHERE CAST(IncomeAndExpenses.Date AS DATE) <= @EndDate
	GROUP BY Contractors.Name, Contracts.Name, IncomeAndExpenses.ContractId
	ORDER BY Contractors.Name, Contracts.Name

END
