USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[SalesTarget]    Script Date: 16.09.2026 15:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SalesTarget] 
    @ComplexProperty nvarchar(max)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM params.ProjectCostingDatas
	WHERE ProjectCostingDatas.Field LIKE '%ConstructionCategory%' AND ProjectCostingDatas.ComplexProperty = @ComplexProperty;

	SELECT * FROM params.ProjectCostingDataPeriods

END
