USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[AddAreaOfActivity]    Script Date: 29.09.2026 10:58:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddAreaOfActivity] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH Property AS (SELECT ProductGroups.Name, MoreInformations.ObjectId 
        FROM MoreInformations
        INNER JOIN ProductGroups ON MoreInformations.ObjectValue = ProductGroups.ProductGroupId
        WHERE MoreInformations.ValueType LIKE N'%НоменклатурныеГруппы%'),
    CostItem AS (SELECT CostItems.Name, MoreInformations.ObjectId FROM MoreInformations
        INNER JOIN CostItems ON MoreInformations.ObjectValue = CostItems.CostItemId
        WHERE MoreInformations.ValueType LIKE N'%СтатьиЗатрат%')
                         
    SELECT Payments.Date, AreaOfActivityPayments.TypeOfActivity, AreaOfActivityPayments.AreaOfActivity, 
            TypeOperation, Debit, Credit, [Percent], AreaOfActivityPayments.DirectOrIndirect,
            PaymentPurpose, Contracts.Number, Contracts.Name, Contractors.Name AS Contractor, Payments.Id, 
            Property.Name AS Property, CostItem.Name AS CostItem
        FROM Payments
        LEFT JOIN AreaOfActivityPayments ON Payments.Id = AreaOfActivityPayments.DocumentId
        LEFT JOIN Contracts ON Payments.ContractId = Contracts.ContractId
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        LEFT JOIN (SELECT *, ROW_NUMBER() OVER (PARTITION BY DocumentId ORDER BY Amount DESC) AS rn FROM PaymentsDetails) AS PD
            ON Payments.Id = PD.DocumentId AND rn = 1
        LEFT JOIN Property ON PD.InvoiceId = Property.ObjectId
        LEFT JOIN CostItem ON PD.InvoiceId = CostItem.ObjectId
        WHERE CAST(Payments.Date AS DATE) >= '2026-01-01'
        ORDER BY Payments.Date
END
