USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[AddObjectOfSaleInContract]    Script Date: 29.09.2026 10:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddObjectOfSaleInContract] 
AS
BEGIN
	SET NOCOUNT ON;


    WITH AllProperty AS (SELECT Contracts.ContractId, ObjectOfSaleInPurchasePayments.Property, Contracts.CodeContract, Contracts.Amount,
            ObjectOfSaleInPurchasePayments.CostItem AS CostItem, Contracts.Number, Contracts.Name, Contractors.Name AS Contractor,
            ROW_NUMBER() OVER(PARTITION BY Contracts.ContractId ORDER BY CASE WHEN ObjectOfSaleInPurchasePayments.ContractId IS NOT NULL THEN 0 ELSE 1 END) AS RowNum,
            COUNT(*) OVER (PARTITION BY Contracts.ContractId) AS TotalContractId
        FROM Contracts
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        LEFT JOIN ObjectOfSaleInPurchasePayments ON Contracts.ContractId = ObjectOfSaleInPurchasePayments.ContractId
        LEFT JOIN ObjectOfSaleInContracts ON Contracts.ContractId = ObjectOfSaleInContracts.ContractId
        WHERE NOT EXISTS ( SELECT * FROM ObjectOfSaleInContracts WHERE ObjectOfSaleInContracts.ContractId = Contracts.ContractId))

        SELECT * FROM AllProperty WHERE RowNum = 1 AND CAST(RIGHT(CodeContract, 6) AS INT) > 2890
END
