USE [datadb]
GO
/****** Object:  StoredProcedure [dbo].[AddObjectOfSaleInPurchasePayment]    Script Date: 29.09.2026 10:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddObjectOfSaleInPurchasePayment] 
AS
BEGIN
	SET NOCOUNT ON;

    WITH Property AS (SELECT ProductGroups.Name, MoreInformations.ObjectId 
        FROM MoreInformations
        INNER JOIN ProductGroups ON MoreInformations.ObjectValue = ProductGroups.ProductGroupId
        WHERE MoreInformations.ValueType LIKE N'%НоменклатурныеГруппы%'),
    CostItem AS (SELECT CostItems.Name, MoreInformations.ObjectId 
        FROM MoreInformations
        INNER JOIN CostItems ON MoreInformations.ObjectValue = CostItems.CostItemId
        WHERE MoreInformations.ValueType LIKE N'%СтатьиЗатрат%')

    SELECT Payments.Id, Payments.ContractId, Payments.Date, Payments.Debit, Payments.Credit, PaymentPurpose,
            CashFlowItems.Name AS CashFlowItem, Property.Name AS Property, CostItem.Name AS CostItem, Contractors.Name AS Contractor,
            Payments.TypeOperation
        FROM Payments
        LEFT JOIN CashFlowItems ON Payments.CashFlowItemId = CashFlowItems.CashFlowItemId
        LEFT JOIN Contracts ON Payments.ContractId = Contracts.ContractId
        LEFT JOIN (SELECT *, ROW_NUMBER() OVER (PARTITION BY DocumentId ORDER BY Amount DESC) AS rn FROM PaymentsDetails) AS PD
            ON Payments.Id = PD.DocumentId AND rn = 1
        LEFT JOIN Property ON PD.InvoiceId = Property.ObjectId
        LEFT JOIN CostItem ON PD.InvoiceId = CostItem.ObjectId
        LEFT JOIN Contractors ON Contracts.ContractorId = Contractors.ContractorId
        WHERE NOT EXISTS ( SELECT * FROM ObjectOfSaleInPurchasePayments WHERE ObjectOfSaleInPurchasePayments.DocumentId = Payments.Id)
            AND YEAR(Payments.Date) > 2025 AND MONTH(Payments.Date) > 7
        ORDER BY Payments.Date
END
